@using Portfolio.Models.ViewModels
@model AlbumViewModel

<div class="modal fade" id="singlePhotoModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <img src=@Model.Album.CoverPhoto.Path class="img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>

<section class="py-5 text-center container bg-body-primary m-0 mw-100">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">@Model.Album.AlbumName</h1>
            <p class="lead text-body-secondary">@Model.Album.AlbumDescription</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </div>
</section>

<div class="album py-5 bg-body-primary">
    <div class="container">
        <hr class="featurette-divider">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5" data-masonry="{&quot;percentPosition&quot;: true }">
            @foreach(Photo photo in Model.Album.Photos)
            {
                <div class="col m-0 p-0">
                    <img src=@photo.Path class="img-fluid" alt="...">
                    <a href="" class="stretched-link" data-bs-toggle="modal" data-bs-path="@photo.Path" data-bs-target="#singlePhotoModal"></a>
                </div>
            }
        </div>

        <hr class="featurette-divider">
    </div>
</div>
