<div id="contact-form" class="container text-center">
    <h1>Zainteresowany zdjęciami?</h1>
    <p class="opacity-75">Skontaktuj się ze mną na social mediach:</p>

    <hr class="m-2" />
    <div class="row">
        <ul class="navbar-nav list-group list-group-horizontal justify-content-center">
            <partial name="/Views/Shared/_SocialIcons.cshtml" />
        </ul>
    </div>
    <hr class="m-2"/>

    <div class="m-2">
        <p class="opacity-75 mt-4 mb-0">Lub napisz na maila:</p>
        <div style="display:none" id="contact-me-result">
            <p class="fs-1 fw-bold">Wiadomość została wysłana!</p>
            <p class="fs-6 fw-italic">Oczekuj na odpowiedź!</p>
        </div>
        <form id="contact-me-form">
            <div class="row justify-content-center m-4">
                <div class="col-12 col-md-4">
                  <label for="FormUserName" class="form-label">Twoje imie</label>
                  <div class="input-group has-validation">
                    <input type="text" class="form-control" id="FormUserName" name="FormUserName" placeholder="Imie" required>
                  </div>
                </div>

                <div class="col-12 col-md-6">
                    <label for="FormUserEmail" class="form-label">Twój email</label>
                    <div class="input-group has-validation">
                        <input type="email" class="form-control" id="FormUserEmail" name="FormUserEmail" placeholder="ty@email.pl" required>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center m-4">
                <div class="col-12 col-md-10">
                    <label for="FormBodyText" class="form-label">Twoja wiadomość</label>
                    <textarea id="FormBodyText" name="FormBodyText">Twoja wiadomość</textarea>
                </div>
            </div>

            <div class="row justify-content-center m-4">
                <div class="col-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Wyślij!</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/js/mailingUtility.js"></script>
