<div class="text-center">
	<h1>Nic tu jeszcze nie ma! :)</h1>
	<p class="text-muted">Jeśli uważasz że to błąd, skontaktuj się ze mną <a asp-area="User" asp-controller="Home" asp-action="Contact">TUTAJ</a>!</p>
</div>