

<li class="nav-item">
    <a class="btn btn-link bi bi-instagram text-secondary" href="https://www.instagram.com/fotokozak_/"></a>
</li>
<li class="nav-item">
    <a class="btn btn-link bi bi-facebook text-secondary" href="https://www.facebook.com/share/19x5PypZNz/"></a>
</li>
<li class="nav-item">
    <a class="btn btn-link bi bi-cup-hot text-secondary" href="https://buymeacoffee.com/fotokozak"></a>
</li>
<li class="nav-item">
    <a class="btn btn-link bi bi-brilliance text-secondary" href="https://fotokozak.myportfolio.com/home"></a>
</li>